.genres{
    display: flex;
    gap:5px;
    .genre{
        background-color: var(--pink);
        padding: 3px 5px;
        font-size: 12px;
        border-radius: rpx;
        color: white;
        white-space: nowrap;
    }
}